{{ partial "helpers/lang-context.html" . }}
<!doctype html>
<html lang="{{ (.Scratch.Get "langSite").Language.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="{{ if .IsHome }}page-home{{ else }}page-inner{{ end }}">
    <a class="skip-link" href="#main-content">{{ i18n "skip_to_content" }}</a>
    {{ partial "header.html" . }}
    <main id="main-content">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ partial "search-overlay.html" . }}
    {{ $mainJS := resources.Get "js/main.js" | minify }}
    {{ $formJS := resources.Get "js/form.js" | minify }}
    {{ $searchJS := resources.Get "js/search.js" | minify }}
    <script src="{{ $mainJS.RelPermalink }}?v={{ md5 $mainJS.Content }}" defer></script>
    <script src="{{ $formJS.RelPermalink }}?v={{ md5 $formJS.Content }}" defer></script>
    <script src="{{ $searchJS.RelPermalink }}?v={{ md5 $searchJS.Content }}" defer></script>
  </body>
</html>
