{{- $lang := .lang -}}
{{- $key := .key -}}
{{- $tr := dict
  "home" "/"
  "about" "/hakkimizda/"
  "events" "/etkinlikler/"
  "resources" "/kaynaklar/"
  "blog" "/blog/"
  "get-involved" "/katil/"
  "contact" "/iletisim/"
  "cause-areas" "/odak-alanlari/"
  "news" "/haberler/"
-}}
{{- $en := dict
  "home" "/en/"
  "about" "/en/about/"
  "events" "/en/events/"
  "resources" "/en/resources/"
  "blog" "/en/blog/"
  "get-involved" "/en/get-involved/"
  "contact" "/en/contact/"
  "cause-areas" "/en/cause-areas/"
  "news" "/en/news/"
-}}
{{- if eq $lang "en" -}}
  {{- index $en $key | default "/en/" -}}
{{- else -}}
  {{- index $tr $key | default "/" -}}
{{- end -}}
